body{
    background-color: #453F3C;
}

.inbox{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    border-color: #453F3C;
    border-radius: 5px;
    height: 2rem;
    font-size: 1.3rem;
    text-align: center;
    background-color: #797270;
}

.b{
    display: flexbox;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 10px;
}

button{
    background-color: #B0C0BC;
    border-radius: 15px;
    height: 2rem;
}

h1{
    text-align: center;
}

#reload{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}