body{
    background-color: rgb(114, 110, 110);
}

.inbox{
    text-align: center;
}

input{
    border-color: rgb(114, 114, 233);
    border-radius: 5px;
    height: 2rem;
    font-size: 1.3rem;
    text-align: center;
    background-color: rgb(180, 174, 174);
}

.b{
    display: flexbox;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 10px;
}

button{
    background-color: rgb(182, 245, 245);
    border-radius: 15px;
    height: 2rem;
}

h1{
    text-align: center;
}